<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kafka Messages</title>
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            const socket = io.connect('http://' + document.domain + ':' + location.port + '/stream');

            socket.on('new_message', function(data) {
                const messagesContainer = document.getElementById("messages");
                const node = document.createElement("LI");
                const textnode = document.createTextNode(JSON.stringify(data.data));
                node.appendChild(textnode);
                messagesContainer.appendChild(node);
                document.getElementById("waiting").style.display = 'none';
            });

            socket.on('connect', function() {
                document.getElementById("waiting").innerHTML = "Esperando datos...";
            });

            socket.on('disconnect', function() {
                if (document.getElementById("messages").children.length === 0) {
                    document.getElementById("waiting").innerHTML = "No se encontraron eventos.";
                }
            });
        });
    </script>
</head>
<body>
    <h1>Received Kafka Messages</h1>
    <div id="waiting">Conectando...</div>
    <ul id="messages"></ul>
</body>
</html>
