<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kafka Consumer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js" integrity="sha512-oFOCo2/3DtjrJG4N27BjSLQWoiBv171sK6a+JiWjp/7agxC2nCUP358AqzxkBUb5jX8g6CYLPdSKQTbC0weCwA==" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            // Conectar al endpoint de Kafka con Socket.IO
            var socket = io.connect('http://localhost:9092/kafka');

            // Escuchar eventos del tipo 'kafkaconsumer' y agregar los datos recibidos al elemento con id 'consumer'
            socket.on('kafkaconsumer', function(msg) {
                $('#consumer').append('<p>' + $('<div/>').text(msg.data).html() + '</p>');
            });

            // Opcional: Manejo de conexión y errores
            socket.on('connect', function() {
                console.log('Connected to Kafka Consumer namespace.');
            });

            socket.on('disconnect', function() {
                console.log('Disconnected from Kafka Consumer namespace.');
            });

            socket.on('error', function(err) {
                console.error('Error received from server:', err);
            });
        });
    </script>
</head>
<body>
    <h1>Kafka Consumer Events</h1>
    <div id="consumer"></div>
</body>
</html>
